# Created by .ignore support plugin (hsz.mobi)
.idea
AutomationService.iml
backend/build
backend/.gradle
backend/src/main/resources/static/node_modules/
cli/node_modules
cli/.history
.history
cli/node_modules/*