body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #6b6b6b;
}

#wrapper {

    transition: all 0.4s ease 0s;
}

.code-pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#actionSearchUL {
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    line-height: 24px;
    padding: 3px;
    width: 100%;
    color: #495057;
    text-decoration: none;
    border-bottom: 1px solid #eeeeee;
}

.item .menu-image {
    width: 25px;
    height: 25px;
    margin-left: 12px;
    text-align: center;
}

.item .menu-image img {
    max-height: 24px;
}

.item .menu-text {
    margin-left: 12px;
}

.item .menu-text-title {
    font-size: .9em;
    font-weight: 700;
}

.item .menu-text-detail {
    font-size: .8em;
}

.item:hover {
    background-color: rgb(209, 209, 209);
    text-decoration: none;
    color: #495057;
}

.sidebar-title {
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-search {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

#sidebar-wrapper {
    margin-right: -280px;
    right: 280px;
    width: 280px;
    background: #FFF;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    right: 0;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    width: 280px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    width: 100%;
}

.sidebar-nav li a {
    color: #000;
    display: block;
    text-decoration: none;
    padding-left: 40px;
}

.sidebar-nav li a span:before {
    position: absolute;
    right: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #000;
    background: rgb(209, 209, 209);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-brand {
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    padding: 15px;
}

.sidebar-brand a {
    color: #999999;
}

.sidebar-brand a:hover {
    color: #fff;
    background: none;
}


.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
    color: #000;
}

.inset {
    padding: 20px;
}

@media (max-width: 767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        right: 0;
    }

    #wrapper.active {
        position: relative;
        right: 280px;
    }

    #wrapper.active #sidebar-wrapper {
        right: 280px;
        width: 280px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

input {
    background: none repeat scroll 0 0 #f8f8f8;
    border-color: #C6C6C6 #DADADA #EAEAEA;
    border-radius: 4px 4px 4px 4px;
    -moz-box-sizing: border-box;
    padding-left: 7px;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
}


#container {
    padding: 0px;
    margin: 0px;
}

#canvas {
    padding: 0px;
    margin: 0px;
    background-color: #faf9fe;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #eeeffd 1px, transparent 1px),
    linear-gradient(to bottom, #eeeffd 1px, transparent 1px);
}

#navigation {
    padding: 0px;
    margin: 0px;
    background: transparent url(examples/buildin_commandstack/css/background_drak.jpg);
    text-align: center;
}

#toolbar {
    background: #cecece; /* Old browsers */
    background: -moz-linear-gradient(top, #cecece 0%, #a8a8a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cecece), color-stop(100%, #a8a8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cecece 0%, #a8a8a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cecece 0%, #a8a8a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cecece 0%, #a8a8a8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cecece 0%, #a8a8a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#a8a8a8', GradientType=0); /* IE6-9 */
    padding: 8px;
    margin: 0px;
    height: 50px;
    border-bottom: 1px solid #515151;
}


/******************************************************************
 * Einstellungen der PropertyViews im Editmodus der "Form".
 ******************************************************************/
#propertypane {
    padding: 0px;
    margin: 0px;
    width: 150px;
    background-color: #7D7D7D;
    border-top: 0px;
}

/*container of a single property entry*/
.property_container {
    padding: 5px;
    padding-bottom: 15px;
}

.toolbar_delimiter {
    margin-left: 40px;
}

#content {
    padding: 0px;
    margin: 0px;
}


.palette_node_element {
    border: 1px solid gray;
    background-color: #f3f3f3;
    padding: 10px;
    cursor: move;
    width: 80px;
    margin: 30px auto 30px auto;
    text-align: center;
    align: center;
    border-radius: 5px;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
